
html, body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: auto;
}

.content {
    width: 60%;
    height: 50%;
    margin: auto;
    padding: 20px;
    display: table;
    background-color: black;
}

.left {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background-color: red;
}

.right {
    display: table-cell;
    background-color: yellow;
}